.container-nosotros{
    margin-top: 80px;
    margin-left: 15% ;
    font-size: x-large;
}
.container-quehacemos h2 {
    margin-top: 100px;
    margin-left: 15% ;
    font-size: 38px;
}
.container-nosotros img {
    width: 640px;
    height: 347px;
    margin-top: 35px;
    border-radius: 15px;
}
.container-quehacemos img{
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.container-nosotros p {
    width: 65%;
    font-size: large;
    margin-bottom: 50px;
    margin-top: 35px;
}

/* que hacemos */
/* .quehacemos-movil {
    display: none;
   } */
.container-nosotros ul {
    list-style: none; 
    width: 65%;
    font-size: large;
    margin-bottom: 50px;
    margin-top: 35px;
}

.container-nosotros li {
    margin-bottom: 20px;
}
.contact-form-container {
    margin-top: 150px;
    margin-bottom: 80px;
}


@media screen and (max-width: 768px) {
    .container-nosotros{
        margin-top: 80px;
        margin-left: 5% ;
    }
    .container-nosotros img {
        width: 75%;
        height: auto;
        margin-left: 2% ;
        margin-top: 25px;
        border-radius: 15px;
    }
    
    .container-nosotros p {
        width: 80%;
        font-size: large;
        margin-bottom: 40px;
        margin-top: 30px;
    }
    /* .quehacemos-web {
     display: none; 
    margin-top: 100px;
   } */
   
   .quehacemos-movil {
    display: flex;
   }
   .container-quehacemos img {
    margin-top: 30px;
   }
    .contact-form-container {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .container-quehacemos h2 {
        font-size: 25px;
    }
}