*{
    margin: 0px;
    padding: 0px;
  }
  @font-face {
    font-family: 'Comfortaa';
    src: url('tipografias/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('tipografias/Comfortaa-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('tipografias/Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('tipografias/Comfortaa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('tipografias/Comfortaa-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
body {
    font-family: 'comfortaa', sans-serif;
}
 
  .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #D4822B; 
      z-index: 1; 
  }
  .multilenguaje {
    margin-left: auto;
    padding-right: 15px;
    color: #ffffff;
  }
  .navbar .multilenguaje a {
    padding: 5px 5px;
    border: none;
    background-color: #D4822B;
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .multilenguaje a:hover {
    background-color: #a36625;
  }

  .navbar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 100%;
    background-color: #2A3336; 
    z-index: -1;
  }

  .hamburger-icon {
      font-size: 30px;
      cursor: pointer;
      width: 48px;
      background-color: #2A3336;
      color: #ffffff;
      justify-content: center;
      justify-items: center;
  }
  .hamburger-icon p {
    margin-left: 10px;
    font-size: 35px;
  }
  
  .logo {
      margin-left: 200px;
  }
  .logo img {
    width: 160px;
  }
  
  .side-menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #2A3336; 
      overflow-x: hidden;
      transition: 0.3s; 
      padding-top: 60px;
    padding-bottom: 10px;
  }
  
  .side-menu a {
      padding: 10px 15px;
      text-decoration: none;
      font-size: 22px;
      color: #ffffff;
      display: block;
      transition: 0.3s;
  }
  
  .side-menu__button:hover {
    background-color: #ffffff;
    color: #2A3336;
}
  
  .side-menu .closebtn {
      position: absolute;
      top: 0;
      right: 22px;
      font-size: 36px;
      margin-left: 50px;
      cursor: pointer;
  }
  
 
.social-media-icons {
    position: absolute;
    bottom: 3px;
    width: 100%;
    padding-bottom: 70px;
}


.social-media-icons a {
    display: inline-block; 
    
     
     
}


.social-media-icons img {
    max-width: 18px; 
    height: 17px;
}

.social-media-icons a:hover {
    background-color: rgba(125, 125, 125, 0.505);
}

/* carrousel */

.carrusel {
    position: relative;
    margin: auto;
    overflow:hidden; 
    max-height: 600px;
    margin-left: 48px;
    margin-right: 48px;
}



.slides img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

.text {
    position: absolute;
    bottom: 280px; 
    width: 70%;
    text-align: start;
    color: #ffffff;
    font-size: 29px;
    margin-bottom: 5px;
    font-weight: bold;
    left: 100px;
}


@media screen and (max-width: 980px) {
    .text {
        position: absolute;
        bottom: 200px; }
}

/* Animación fade (carousel 1) */
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.text1-carrousel {
    display: inline-block;
    border-top: 1px solid #ffffff;
    padding-top: 7px;
    margin-top: 10px;
    font-weight: 100;
    font-size: 20px;
}

.cursor {
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  

.text3-carrousel {
    display: inline-block;
    border-top: 1px solid #2A3336;
    padding-top: 7px;
    margin-top: 10px;
    font-weight: light;
    font-size: 20px;
}

.learn-more-btn {
    position: absolute;
    margin-top: 40px;
    background-color: #ffffff; 
    color: #D4822B;         
    border: none;            
    padding: 8px 18px;   
    font-size: 25px;
    cursor: pointer;       
    transition: background-color 0.5s ease; 
    font-weight: 600;    
    border-radius: 15px;   
    text-decoration: none;
}


.learn-more-btn:hover {
    background-color: #2A3336;
}

.flecha {
    position: flex;
    align-items: center;
    justify-content: center;
}

.flecha-img {
    width: 60px;
    height: 60px;
  transform: translateY(90%); 
  margin-left: 15px;
}

.flecha-text {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.flecha-text h3 {
    font-size: 30px;
    color: #2A3336;
}
.flecha-text img {
    width: 35px;
    height: 35px;
}

/* carousel 2 */

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 400px;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
  }
  
  .carousel-item img {
    width: 100%;
    display: flex;
  }
  

  .carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0; 
  }
  
  .carousel-text h2 {
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 40px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
  }
  
  .carousel-text button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #2A3336;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-family: 'Comfortaa';
  }

  .carousel-text2 {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
  }
  /* separador */

  .linea-flecha-arriba {
    position: relative;
    margin-bottom: 100px;
    margin-top: 30px;
    margin-right: 25px;
}

.linea-media {
    display: relative; 
    width: 250px; 
    border-top: 2px solid #000;
    margin: 0 auto; 
}



/* Formulario de contacto */

.contact-form-container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: start;
    margin-top: -40px;
}

.contact-form-container h2 {
    font-size: 25px;
    text-align: center;
}

.work-together-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #2A3336;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 20px auto; 
    font-family: 'Comfortaa';
}

.contact-form {
    background: #ffffff; 
    margin-top: 80px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #2A3336; 
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #2A3336; 
    font-size: 15px; 
    font-family: 'Comfortaa';
}


.submit-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #2A3336;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    display: block;
    width: auto;
    margin: 20px auto; 
    font-family: 'Comfortaa';
}

/* Footer */





.footer-superior {
    display: flex;
    justify-content: space-around;
    background-color: #D4822B;
    height: 48px;
    color: #ffffff;
    align-items: center;
    width: 100%;
}


.footer-superior .span3 {
    height: 48px;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    width: 48px;
    position: absolute;
    left: 0;
}

.footer-superior .span1 {
    height: 48px;
    background-color: #ffffff;
    display: flex;
    justify-content: end;
    width: 48px;
    position: absolute;
    right: 0;
}

.footer-superior a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
}
.footer-superior p {
    font-weight: bold;
}

.footer-inferior {
    background-color: #2A3336;
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    color: #ffffff;
    width: 100%;
}

.footer-inferior p {
    margin-left: -180px;
}
.logo-footer {
    height: 15px;
    margin-right: 8px;
    margin-left: 60px;
}

.footer-inferior span {
    height: 48px;
    background-color: #D4822B;
    display: flex;
    justify-content: start;
    width: 48px;
}

.footer-inferior .span2 {
    height: 48px;
    background-color: #D4822B;
    position: absolute;
    right: 0;
    width: 48px
}

.social-media-icons-footer {
    display: flex;
    align-items: center;
    height: 20px;
    margin-right: 100px;
}

.social-media-icons-footer img {
    height: 20px;
    margin-left: 25px;
}

.social-media-icons-footer img:hover {
    transform: scale(1.3);
}




@media screen and (max-width: 768px) {
    .hamburger-icon {
        background-color: #D4822B;
        color: #2A3336;
        margin-right: 8px;
    }
    .navbar::before{
        display: none;
    }
    .logo img {
        position: absolute;
        left: 15px;
        bottom: 15px;
    }
    .multilenguaje {
      
        padding-right: 0px;
        margin-right: 0px;
      }
    .text {
        font-size: 18px; 
        bottom: 300px;
        width: 95%;
        left: 20px;
    }
    .text1-carrousel {
        font-size: 18px;
    }
    .text3-carrousel {
        font-size: 18px;
    }
    .carrusel {
        height: 800px;
        width: 100%;
        margin-left: 0;
    }
    .slides img {
    height: 1000px;
    overflow: hidden;
}
    .learn-more-btn {
        font-size: 20px;
    }
    .flecha {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        
    }

    .flecha-img{
       
        display: none;
    }

    .flecha-text{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flecha-text h3 {
        font-size: 15px;
    }
    .flecha-text img {
        width: 15px;
        height: 15px;
    }
    .carousel-text h2 {
        font-size: 20px;
    }
    .carousel-text button {
        padding: 10px 15px;
        border-radius: 15px;
        font-size: 18px;
      }
    .carousel-container{
        max-height: 480px;
        
    }

   
    .carousel-text2 {
        margin-top: 25px;
        font-size: 15px;
    }
    .linea-flecha-arriba {
        margin-top: 0px;
    }

   

    .linea-media{
        width: 150px;
        margin: 0 auto;
    }
 
    .contact-form-container h2{
        font-size: 20px;
    }
    .contact-form-container {
        max-width: 80%;
        margin-top: -65px;
    }
    .work-together-btn {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .submit-btn {
        font-size: 15px;
    }

    .footer-superior {
        display: flex;
        justify-content: space-around;
        background-color: #D4822B;
        height: 48px;
        color: #ffffff;
        align-items: center;
        width: 100%;
        margin: 0;
        font-size: 13px;
    }
    .footer-superior a {
        margin-left: 5px;
       
    }
    
    .footer-superior p {
        margin-right: 15px;
    }
  
    .footer-inferior {
        background-color: #2A3336;
        display: flex;
        justify-content: space-between;
        height: 48px;
        align-items: center;
        color: #ffffff;
        width: 100%;
    }
    .logo-footer {
        display: none;
    }
    
    .footer-inferior span {
       
        display: none;
      
    }
    .footer-superior .span3 {
        display: none;
    }
    .footer-superior .span1 {
        display: none;
    }

    .footer-inferior p{
        font-size: 8px;
        margin-left: 15px;
    }
    .footer-inferior .span2 {
        display: none;
    }
    
    .social-media-icons-footer {
        display: flex;
        align-items: center;
        height: 20px;
        margin-right: 35px;
    }
    
    .social-media-icons-footer img {
        height: 15px;
        margin-left: 20px;
    }
    
    .social-media-icons-footer img:hover {
        transform: scale(1.3);
    }
    
    
}
.carousel-item img {
    width: 100%;
    height: auto;
  }
  
  /* Estilos para móviles */
  @media only screen and (max-width: 767px) {
    .carousel-item img {
      /* Se ocultan las imágenes por defecto */
      display: none;
    }
  
    /* Se muestra la imagen específica para móviles */
    .carousel-item img.mobile-img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  /* Estilos por defecto para imágenes de escritorio */
.desktop-image {
    display: block; /* o como sea necesario para tu diseño */
}

/* Oculta las imágenes móviles por defecto */
.mobile-image {
    display: none;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) { /* Ajusta a tu punto de corte específico */
    /* Oculta las imágenes de escritorio en dispositivos móviles */
    .desktop-image {
        display: none;
    }

    /* Muestra las imágenes móviles en dispositivos móviles */
    /* Estilos por defecto para imágenes de escritorio */
.desktop-image {
    display: block; /* o como sea necesario para tu diseño */
}

/* Oculta las imágenes móviles por defecto */
.mobile-image {
    display: none;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) { /* Ajusta a tu punto de corte específico */
    /* Oculta las imágenes de escritorio en dispositivos móviles */
    .desktop-image {
        display: none;
    }

    /* Muestra las imágenes móviles en dispositivos móviles */
    .mobile-image {
        display: block;
        
    }
}

}
