*{
    margin: 0px;
    padding: 0px;
  }
  @font-face {
    font-family: 'Comfortaa';
    src: url('tipografias/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('tipografias/Comfortaa-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('tipografias/Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('tipografias/Comfortaa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('tipografias/Comfortaa-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
body {
    font-family: 'comfortaa', sans-serif;
}
 
  .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #D4822B; 
      z-index: 1; 
  }
  .navbar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5%; /* o el ancho que desees para la sección pintada */
    height: 100%;
    background-color: #2A3336; /* Cambia al color que desees */
    z-index: -1;
  }

  .hamburger-icon {
      font-size: 30px;
      cursor: pointer;
      width: 5%;
      background-color: #2A3336;
      color: #ffffff;
      justify-content: center;
      justify-items: center;
  }
  .hamburger-icon p {
    margin-left: 15px;
    font-size: 35px;
  }
  
  .logo {
      margin-left: 100px;
  }
  .logo img {
    width: 160px;
  }
  
  .side-menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #2A3336; /* Color de fondo del menú */
      overflow-x: hidden;
      transition: 0.3s; /* Transición suave para abrir y cerrar */
      padding-top: 60px;
    padding-bottom: 10px;
  }
  
  .side-menu a {
      padding: 10px 15px;
      text-decoration: none;
      font-size: 22px;
      color: #ffffff;
      display: block;
      transition: 0.3s;
  }
  
  .side-menu__button:hover {
    background-color: #ffffff;
    color: #2A3336;
}
  
  .side-menu .closebtn {
      position: absolute;
      top: 0;
      right: 22px;
      font-size: 36px;
      margin-left: 50px;
      cursor: pointer;
  }
  
 

  /* Estilos para los íconos de redes sociales */
.social-media-icons {
    position: absolute;
    bottom: 3px;
    width: 100%; /* Esto hará que los íconos ocupen todo el ancho del menú */
    /* Agrega padding o margin si es necesario para separar los íconos del fondo */
    padding-bottom: 70px;
}

/* Estilos para los enlaces de las redes sociales dentro del div */
.social-media-icons a {
    display: inline-block; /* o inline-block, dependiendo de cómo quieras que se muestren */
     /* Ajusta el margen según sea necesario */
     /* Centra los íconos si están en bloques separados */
     
}

/* Ajustes para las imágenes de los íconos si es necesario */
.social-media-icons img {
    max-width: 18px; /* Asegúrate de que las imágenes no sean más grandes que el contenedor */
    height: 17px; /* Mantiene la proporción de las imágenes */
}

.social-media-icons a:hover {
    background-color: rgba(125, 125, 125, 0.505);
}

/* carrousel */

.carrusel {
    position: relative;
    width: 90%;;
    margin: auto;
    overflow: hidden; /* Asegura que los elementos fuera del carrusel no sean visibles */
    max-height: 600px;
}

.slides {
    display: none; /* Oculta todos los slides por defecto */
    width: 100%; /* Hace que cada slide ocupe el 100% del ancho del carrusel */
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

.text {
    position: absolute;
    bottom: 280px; /* o cualquier otro valor según tu diseño */
    width: 70%;
    text-align: start;
    color: #ffffff;
    font-size: 30px; /* Ajusta esto según tus necesidades */
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 100px;
}

.text-2slide {
    position: absolute;
    bottom: 280px; /* o cualquier otro valor según tu diseño */
    width: 90%;
    text-align: end;
    color: #ffffff;
    font-size: 30px; /* Ajusta esto según tus necesidades */
    margin-bottom: 5px;
}

/* Animación fade (puedes omitir esta parte si prefieres sin animación) */
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.text1-carrousel {
    display: inline-block;
    border-top: 1px solid #ffffff;
    padding-top: 7px;
    margin-top: 10px;
    font-weight: 100;
    font-size: 18px;
}

.cursor {
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  

.text2-carrousel{
    color: #efc89ecd;
}

.text3-carrousel {
    display: inline-block;
    border-top: 1px solid #2A3336;
    padding-top: 7px;
    margin-top: 10px;
    font-weight: light;
    font-size: 18px;
}

.learn-more-btn {
    position: absolute; /* Posicionamiento absoluto relativo a su contenedor más cercano con posición relativa/absoluta/fija */
    bottom: 200px; /* Cambia este valor para mover el botón hacia arriba o abajo */
    left: 15%; /* Centrar el botón horizontalmente */
    transform: translateX(-50%); /* Asegúrate de que el botón esté centrado respecto a su posición horizontal */
    background-color: #ffffff; /* Color de fondo naranja */
    color: #D4822B;            /* Color de texto blanco */
    border: none;              /* Sin borde */
    padding: 8px 18px;        /* Espaciado interior */
    margin: 10px 10px;  
    font-size: 25px;
    cursor: pointer;           /* Cursor en forma de mano al pasar el mouse */
    transition: background-color 0.5s ease; /* Efecto suave al cambiar de color */
    font-weight: bold;         /* Texto en negrita */
    border-radius: 15px;        /* Bordes redondeados */
    
}


.learn-more-btn:hover {
    background-color: gray; /* Color de fondo más oscuro al pasar el mouse */
}

.flecha {
    display: flex;
    margin: 30px;
    padding-top: 50px;
}

.flecha img {
    width: 60px;
    height: 60px;
}

.flecha-text {
    display: flex;
   justify-content: center;
    position: relative;
    bottom: 80px;
   
}

.flecha-text h3 {
    font-size: 30px;
    color: #2A3336;
}
.flecha-text img {
    width: 35px;
    height: 35px;
}

/* carousel 2 */

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 600px;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
  }
  
  .carousel-item img {
    width: 100%;
    display: block;
  }
  

  .carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; /* Asegúrate de que el texto esté por encima de las imágenes */
  }
  
  .carousel-text h2 {
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 40px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  }
  
  .carousel-text button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #2A3336;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 20px;
  }

  .carousel-text2 {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
  }
  /* separador */

  .linea-flecha-arriba {
    position: relative;
    margin-bottom: 100px;
    margin-top: 30px;
    margin-right: 25px;
}

.linea-media {
    display: relative; 
    width: 250px; 
    border-top: 2px solid #000;
    margin: 0 auto; 
}

.flecha-arriba {
    position: absolute; /* Posición absoluta para la flecha */
    top: 50%; /* Centrar la flecha verticalmente */
    transform: translateY(-50%); /* Asegurarse de que la flecha esté centrada verticalmente respecto a la línea */
    right: 0;
}

.flecha-arriba img {
    display: block; /* Elimina cualquier espacio extra alrededor de la imagen */
    width: 60px; 
    height: 60px;
}

/* Formulario de contacto */

.contact-form-container {
    max-width: 60%; /* O el ancho que prefieras */
    margin: 0 auto;
    padding: 20px;
    text-align: start;
}

.contact-form-container h2 {
    font-size: 20px;
    text-align: center;
}

.work-together-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #2A3336;
    color: #ffffff;
    border-radius: 18px;
    border: none;
    font-size: 18px;
    display: block;
    width: 200px;
    margin: 20px auto; 
}

.contact-form {
    background: #ffffff; /* O el color que prefieras */
}

.form-group {
    margin-bottom: 15px; /* Espacio entre campos del formulario */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #2A3336; 
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #2A3336; /* Línea debajo del input */
    font-size: 15px; /* Ajustar según el diseño */
}


.submit-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #2A3336;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    display: block;
    width: 110px;
    margin: 20px auto; 
}








/* Asegura la responsividad del texto y las imágenes */
@media screen and (max-width: 768px) {
    .hamburger-icon {
        background-color: #D4822B;
        color: #2A3336;
        margin-right: 30px;
    }
    .navbar::before{
        background-color: #D4822B;
    }
    .logo img {
        margin-left: -80px;
    }
    
    .text {
        font-size: 20px; /* Tamaño de fuente más pequeño para dispositivos móviles */
        bottom: 250px;
        width: 80%;
        margin-left: 40px;
    }
    .text-2slide {
        font-size: 20px; /* Tamaño de fuente más pequeño para dispositivos móviles */
        bottom: 250px;
        width: 90%;

    }
    .carrusel {
        max-height: 450px;
        width: 100%;
    }
    .learn-more-btn {
        margin-left: 50px; 
        font-size: 18px;
        bottom: 100px;
    }
    .flecha {
        margin: 10px;
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    .flecha img{
        width: 30px;
        height: auto;
    }

    .flecha-text{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }
    .flecha-text h3 {
        font-size: 15px;
    }
    .flecha-text img {
        width: 15px;
        height: 15px;
    }
    .carousel-text h2 {
        font-size: 20px;
    }
    .carousel-text button {
        padding: 10px 15px;
        border-radius: 15px;
        font-size: 18px;
      }
    .carousel-container{
        max-height: 450px;
    }
    .carousel-text2 {
        margin-top: 25px;
        font-size: 15px;
    }
    .linea-flecha-arriba {
        margin-top: 15px;
    }

    .flecha-arriba {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        right: 44%;
    }

    .linea-media{
        width: 150px;
        margin: 0 auto;
    }
    .flecha-arriba img{
        width: 30px;
        height: auto;
        
    }

    .work-together-btn {
        width: 160px;
        font-size: 15px;
        padding: 8px 18px;
    }

    .submit-btn {
        width: 80px;
        font-size: 15px;
    }
    
}
